extends layout


block content

  .pure-g-r
    
    #logo.pure-u-1-5.tc
      .add-me-padding
        .circle
          .icon-kiwi

    #chooser.pure-u-1-5
      .add-me-padding
        form#choose-data.pure-form.pure-form-stacked.tc
          h3.tc
            em
              | Find Spotify IDs
          fieldset
            .pure-control-group
              label(for='what') Search type
              select#what(name='what')
                option(value='') Choose me!
                option(value='artist') Artist
                option(value='album') Album
                option(value='track') Track
            .pure-control-group
              label(for='query') Query
              input#query(type='text', name='query', placeholder='eg: MIYAVI')
            .pure-controls
              button.pure-button.pure-button-primary(type='submit')
                | Search
        div.tc
          small
            | Click the ID and copy'n'paste
        div.tc.zelda
          i.icon-zelda
          small
            em
              | &quot;May the triforce be with you&quot;

    #resulter.pure-u-3-5
      .add-me-padding
        ul#searchresults

block scripts
  script(src='/js/main.js')