extends layout


block content

  .pure-g-r
    
    .pure-u-1-4 &nbsp;
    
    .pure-u-2-4
      form#choose-data.pure-form.pure-form-stacked
        fieldset
          legend
            | Searching shitify ids
          label(for='what') Search type
          select#what(name='what')
            option(value='') Choose me!
            option(value='artist') Artist
            option(value='album') Album
            option(value='track') Track
          label(for='query') Query
          input#query(type='text', name='query', placeholder='eg: MIYAVI')
          br
          button.pure-button.pure-button-primary(type='submit')
            | Search

    .pure-u-1-4 &nbsp;


  .pure-g-r
    .pure-u-1-6 &nbsp;
    .pure-u-4-6
      ul#searchresults
    .pure-u-1-6 &nbsp;



block scripts
  script(src='/js/main.js')