//  nib from express app
@import('nib');


//  load opensans from google fonts (maybe the overused font in the world)
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,600,600');



//  custom icomoon!
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zelda:before {
  content: "\e600";
}
.icon-kiwi:before {
  content: "\e601";
}




//  some useful vars (maybe colors or units...)
_darkgreen = #16a085
_logowh = 100px

//  useful classes
.tc
  text-align center

//  rewrite some purecss classes
.pure-button
  &.pure-button-primary
    background _darkgreen

//  damn purecss font-spacing!
*
  letter-spacing 0em
  font-family 'Open Sans', sans-serif
  font-weight 400

body
  .container
    width 100%

  .add-me-padding
    padding 10px

  #logo
    text-align center
    .circle
      width _logowh
      height _logowh
      border-radius (_logowh / 2)
      background _darkgreen
      margin (_logowh / 4) auto
      color #fff
      overflow hidden
      .icon-kiwi
        line-height 100px
        font-size 32px

  #chooser
    div
      small
        display block
        text-align center
      &.zelda
        margin-top 30px
        color #888

  form
    &#choose-data
      width 100%
      fieldset
        text-align center
        .pure-control-group
          margin-bottom 20px
        input,
        select
          margin auto
          &:focus
            border-color _darkgreen

  ul
    &#searchresults
      max-height 100%
      padding 0
      li
        list-style-type none
        margin-bottom 30px
        clearfix()
        h2
          margin-bottom 5px
          margin-top 5px
          white-space no-wrap
          text-overflow ellipsis
          overflow hidden
          color _darkgreen
        input[type='text'].code-to-copy
          font-size 13px
          display block
          border none
          width 100%
          font-weight 400
          font-family monospace
          outline none!important
          background none